[user]
	name = Johan
	email = johanstore2002@gmail.com
	signingkey = ~/.ssh/id_ed25519_signing

[commit]
	gpgsign = true

[gpg]
	format = ssh

[ssh]
	signingkey = ~/.ssh/id_ed25519_signing

[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers

[core]
	sshCommand = ssh -v

[url "ssh://git@github.com/"]
        insteadOf = https://github.com/

